<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tutor Doodle</title>
    <link rel="icon" href="/favicon/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/canvas.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/draw-client.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />

</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light  bg-light">
    <a class="navbar-brand" href="/">Tutor Doodle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
        <ul class="navbar-nav navbar-right ml-auto ">
            <li class="nav-item"><a class="nav-link" href="/lectures">Lectures <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/groups">Groups</a></li>
            <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
            <% if(loggedinUser){ %>
            <li class="nav-item"><a class="nav-link" href="/users/<%= loggedinUser._id%>"><%= loggedinUser
                            .username%>'s profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <%} else {%>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
            <%}%>
        </ul>
    </div>
</nav>
</div>
<div class="container">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(message && message.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= message %>
        </div>
    <% } %>
</div>
