<% include ../partials/header %>
<div class="container" >
    <h3>Edit <%= lecture.name %> lecture</h3>
    <form action="/lectures/<%=lecture._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label>Change the name:
                <input class="form-control" type="text" name="name" value="<%=lecture.name%>" maxlength="20">
            </label>
        </div>

        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
            <label>Edit lecture notes:
                <textarea class="form-control" cols="120" rows="5" name="notes" spellcheck="true"><%=lecture.notes%></textarea>
            </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="deleteLineHistory">Delete all drawings:</label>
                </div>
                <select class="custom-select"name="deleteLineHistory" id="deleteLineHistory">
                    <option name="false" value="false" selected>No</option>
                    <option name="true" value="true">Yes</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Change the slide:</span>
                </div>
                <div class="custom-file">
                    <input class="custom-file-input" type="file" accept="image/jpg, .png, .jpeg" name="background_file"  onchange='openFile(event)' >
                    <label class="custom-file-label" for="inputGroupFile01">Choose file ...</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <img id='output' alt="selected image preview" style="max-width : 300px;" src="data:image;base64, <%=lecture.background_file%>">
        </div>
<!--        <div class="form-group">-->
<!--            <label>Change the slide:-->
<!--                <input class="form-control" type="file" accept="image/jpg, .png, .jpeg" name="background_file"  onchange='openFile(event)' >-->
<!--            </label>-->
<!--            <img id='output' alt="selected image preview" style="max-width : 300px;" src="data:image;base64, <%=lecture.background_file%>">-->
<!--        </div>-->
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Apply Change!</button>
        </div>
    </form>
</div>

<script>
    var openFile = function(event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function(){
            var dataURL = reader.result;
            var output = document.getElementById('output');
            output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    };
</script>

<% include ../partials/footer %>
