<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>List of all lectures</h1>
            <p>
                <a class="btn btn-primary btn-large" href="/lectures/new">Create A New Lecture</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap; ">
        <% lectures.forEach(function(lecture){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="data:image;base64,<%= lecture.background_file %>" alt="<%= lecture.name %> "
                         style="max-height: 150px;">
                    <div class="caption">
                        <h4><%= lecture.name %></h4>
                    </div>
                    <p>
                        <a href="/lectures/<%= lecture._id %>" class="btn btn-primary">Attend lecture</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
