<% include ../partials/header %>

<div>
<div class="row" style="height: 100%;" >
    <div class="col-md-10" id="drawingContainer" style="height: 80vh; overflow: auto;">
        <canvas id="drawing" style="border: darkred solid 1px; overflow: auto;"></canvas>
    </div>
    <div class="col-md-2" >
        <a class="btn btn-sm btn-warning mt-1 pt-1" href="/lectures/<%= lecture._id %>/live" onclick="clearit()">Refresh</a>

        <% if(loggedinUser){ %>
            <label class="mt-1 pt-1" for="message-form">Anonymous Chat:</label>
            <form id ="message-form" action="#" method="get">
                <input id="message" autocomplete="off" />
                <button class="btn btn-sm btn-primary mt-1 pt-1 ">Send</button>
            </form>
            <ul id="message-list" style="height: 100%; overflow: scroll"></ul>
        <% }%>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
<script type="text/javascript" src="/javascripts/chat-client.js"></script>
<script type="text/javascript" src="/javascripts/draw-client.js"></script>


<% include ../partials/footer %>
