<% include ../partials/header %>
<!--@TODO: upload multiple files to the server, maybe inside the /public/images directory
          to be used as slides-->
<div style="width: 30%; margin: 25px auto;">
    <h1>Create a Lecture</h1>
    <form action="/lectures/new" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>name:
                <input class="form-control" type="text" name="name" placeholder="name" maxlength="20">
            </label>
        </div>
        <div class="form-group">
            <label>Lecture notes:
                <textarea class="form-controhel" name="notes" cols="45" spellcheck="true" placeholder="Notes added here will show up above the slide image."></textarea>
            </label>
        </div>
        <div class="form-group">
            <label for="input-file">Image file (of format .jpg, .jpeg, or .png):</label>
            <input id="input-file" lass="form-control" type="file" accept="image/jpg, .png, .jpeg" name="background_file"
                       onchange='handleFiles(files)' required >
        </div>
        <div class="form-group" id='preview'>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="/javascripts/fs.js"></script>

<% include ../partials/footer %>
