<% include ../partials/header %>
<div class="container">
    <p></p>
    <h3><%= lecture.name%>:</h3>
    <p><%= lecture.notes%></p>
    <p class="instruction">
        Note:
        <ul class="instruction">
            <li>You must log in to get access to the live white board button.</li>
            <li>To fit the image to the window size, refresh the page after if you change the window size.</li>
        </ul>
    </p>

    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <% if(loggedinUser && lecture.author.equals(loggedinUser._id)){ %>
                    <button id="start-doodle" class="btn btn-sm btn-primary btn-block m-1 p-1" >Unlock
                        pen</button>
                    <button class="btn btn-sm btn-primary btn-block m-1 p-1" type="submit" form="lineHistory">Save
                        doodle</button><br/>
                    <a class="btn btn-sm btn-warning btn-block m-1 p-1" href="/lectures/<%= lecture._id %>/edit">Edit</a>
                    <form id="delete-form" action="/lectures/<%= lecture._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger btn-block m-1 p-1">Delete Lecture</button>
                    </form>
                <% }%>
            </div><br/>
            <% if(loggedinUser){ %>
                <a class="btn btn-sm btn-outline-dark btn-block m-1 p-1" href="/lectures/<%=lecture._id%>/live">
                    Live White Board</a>
             <% } else {%>
            <a class="btn btn-sm btn-outline-dark btn-block m-1 p-1 disabled" href="/lectures/<%=lecture._id%>/live">
                Live White Board</a>
            <%}%>
        </div>
        <div class="col-md-10" id="drawingColumn">
            <div id="blackboardPlaceholder">
                <!-- Tool Selector -->
                <% if(loggedinUser && lecture.author.equals(loggedinUser._id)){ %>
                <div id="optionsContainer">
                    <select name="selector" id="selector">
                        <option value="pen"> Pen </option>
                        <option value="eraser"> Eraser </option>
                    </select>
                    <label for="lineColor">choose color:</label>
                    <select name="lineColor" id="lineColor" >
                        <option value="Black"> Black </option>
                        <option value="Red"> Red </option>
                        <option value="Blue"> Blue </option>
                    </select>
                    <label for="lineWidth">choose line width:</label>
                    <input class="listInput" name="lineWidth" id="lineWidth" type="number"
                           pattern="[0-9]" min="1" max="100" value="5"
                           oninput="validity.valid||(value='');" required="required" />
                </div>
                <% }%>
                <canvas id="drawingCanvas">
                    <img id="background_file" src='data:image;base64, <%= lecture.background_file%>' alt="lecture
                    slide">
                    <p class="noscript">We're sorry, this web application is currently not supported with your browser. Please use an alternate browser or download a supported <br />browser. Supported browsers: <a href="http://www.google.com/chrome">Google Chrome</a>, <a href="http://www.opera.com">Opera</a>, <a href="http://www.mozilla.com">Firefox</a>, <a href="http://www.apple.com/safari">Safari</a>, <br />and <a href="http://www.konqueror.org">Konqueror</a>. Also make sure your JavaScript is enabled.</p>
                </canvas>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form id= "lineHistory" action="/lectures/<%= lecture._id %>/lineHistory" method="POST">
        <input type="text" id="historyInput" name="historyInput" value= <%= drawing %>><br>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
<script type="text/javascript" src="/javascripts/canvas.js"></script>


<% include ../partials/footer %>
