<% include ./partials/header %>

<div class="container" style="font-family: Times; ">
    <p>This website contains a few tools for tutors who needs to work remotely.</p>
    <p>Here is a short how to use guide: </p>
    <ol>
        <li>Lectures
            <ul>
                <li>Tutors can upload lecture slides that will be visible to public. </li>
                <li>The author of the lecture can draw notes on the lecture slide and save the drawing.</li>
                <li>Users can also hold live lectures using a live white board. </li>
                <li>Doodles on white board will be broadcast live to public, but they are not stored in the
                    database.</li>
            </ul>
        </li>
        <li>Groups
            <ul>
                <li>Groups are private.</li>
                <li>A user can create a group, and add valid user accounts to the group.</li>
                <li>The owner of a group can edit and delete the group.</li>
                <li>Group members can use a live whiteboard to doodle simultaneously together.</li>
                <li>Only group members are able to see the whiteboard.</li>
            </ul>
        </li>
        <li>Users
            <ul>
                <li>Users page shows all user accounts in the database.</li>
                <li>Public can access lectures of any user to see the slides, saved doodles, and live whiteboards.</li>
            </ul>
        </li>
    </ol>
</div>

<% include ./partials/footer %>
