<% include ./partials/header %>

<div class="container">
    <h1>Log in!</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="username" autocomplete="username">
        <input type="password" name="password" placeholder="password" autocomplete="current-password">
        <button>Login</button>
    </form>
</div>

<% include ./partials/footer %>
