<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <p class="lead"><%= group.name%></p>
            <div class="list-group">
                <% if(loggedinUser && group.owner.equals(loggedinUser._id)){ %>
                    <a class="btn btn-sm btn-warning btn-block m-1 p-1" href="/groups/<%= group._id %>/edit">Edit</a>
                    <p></p>
                    <form id="delete-form" action="/groups/<%= group._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger btn-block m-1 p-1 ">Delete</button>
                    </form>
                <% }%>
            </div>
            <% if(loggedinUser){ %>
            <a class="btn btn-sm btn-success btn-block m-1 p-1" href="/groups/<%=group._id%>/live">Live
                White Board</a></br>
            <% }%>
        </div>
        <div class="col-md-10">
            <div class="jumbotron">
                <label for="members">Members:</label>
                <ol id="members">
                <% members.forEach((member) => { %>
                    <li><%= member.username %></li>
                <% }) %>
                </ol>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
<script type="text/javascript" src="/javascripts/chat-client.js"></script>

<% include ../partials/footer %>
